.App {
  text-align: center;
  padding: 0em 0em 0.5em 0em;
  font-family: "Dubai Light";
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgImg {
  width: 100%;
}

.bgImgDiv {
  max-height: 28vh;
  overflow: hidden;
  margin: 0.5em 0em 0em;
}

.btn {
  background-color: #007bff;
  border: none;
  border-radius: .25rem;
  color: white;
  display: inline-block;
  line-height: 1.5;
  margin: 1em 0em;
  padding: .375rem .75rem;
}

.container {
  background: #eaeaea;
  width: 42%;
  margin: 1% 0.5% 0%;
  min-width: 20pc;
  text-align: left;
  padding-left: 4em;
}

.flex-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0% 15%;
}